.widget {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #6439ff;
      opacity: 0.9;
    }

    .counter {
      font-size: 25px;
      font-weight: 300;
    }
    .link {
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .link{
        width: max-content;
    }
    .icon {
      align-self: flex-end;
      font-size: 25px;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
